@{
    ViewData["Title"] = "Star Wars API page";
}

   
@* Question from the user story:  What did the story mean by 'card format'?  Would have to get with product owner or user to get clarification. *@
<div class="text-left">
   
    <span>Enter Number of Persons to Display:  </span>
    @* This doesn't offer good validation - must be some widget that works better. *@
    <input type="number" id="textNumPersons" value="1" max="10" min="1">
    <br/>
    <button id="btnSubmit">Submit</button>

</div>
<br />
<br />

<div id="divDisplay"></div>


@section scripts{ 

    <script type="text/javascript">

        function GetPersons() {

            var apiUrl = "https://swapi.dev/api/people/";

            $.ajax({
                url: apiUrl,
                success: Success,
                contentType: "application/json"
            }).fail(function (jqXHR, textStatus, error) {
                Fail(textStatus);
            });

        }

        function Success(data) {
            var html = "";

            var numPersons = parseInt($("#textNumPersons").val());

            //This works, but I think a two-way data binding framework would be more elegant.
            for (i = 0; i < numPersons; i++) {
                var person = data.results[i];
                var display = "<div style='border: 2px solid black'>" + person.name + "</div>";
                html += display + "<br/>"
            }

            $("#divDisplay").html(html);
        }

        function Fail(status) {
            alert("Unable to retrieve data from server. " + status);
        }

        function Setup() {

            var button = $("#btnSubmit");
            button.on("click", GetPersons);
        }

        $(document).ready(function () {
            Setup();
        });


    </script>

}
